.search-results-container-algolia {
    min-height: 400px;
    margin: 40px 0;
    display: grid;
    grid-template-columns: 9fr;
    grid-gap: 10px;
}

.ais-hits--item {
    .instantsearch-result {
        display: flex;
        align-items: center;

        img {
            margin-right: 40px;
        }
    }

    // .result-details {
    //     color: $text-color-light;
    // }

.result-price {
    margin-top: 6px;
    font-weight: 500;
}

.algolia-thumb-result {
    max-height: 50px;
}

    // hr {
    //     border: 0.5px solid $separator-color;
    // }
}
